<%= form_for @search_concept, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :terms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :terms, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_node, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_node, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :navigation_node, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :navigation_node, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                search_concepts_path, :class => 'btn' %>
  </div>
<% end %>
