<%= form_for(@search_concept) do |f| %>
  <%= f.hidden_field :parent_id %>
  <% if @search_concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_concept.errors.count, "error") %> prohibited this search_concept from being saved:</h2>
      <ul>
      <% @search_concept.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :terms %><br />
    <%= f.text_field :terms %>
  </div>
   <div class="field">
    <%= f.label :navigation_node %><br />
    <%= f.check_box :navigation_node %>
  </div>
  <div class="field">
    <%= f.label :is_node %><br />
    <%= f.check_box :is_node %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
