<%- model_class = SearchConcept -%>
<div class="page-header">
  <h1>Search Concepts</h1>
</div>
  <div class="span12">
    <%= link_to "New Search Concept", new_search_concept_path, :class => "btn btn-small btn-primary"%> 
          <ul id="tree">
            <% @roots.each do |search_concept| %>
               <li> <%= link_to search_concept.name, search_concept_path(search_concept) %>
                <div class="concept_action-buttons">
                  <%= link_to t('.Create Child'), new_search_concept_path(:parent_id => search_concept.id), :class => 'btn btn-mini btn-info'   %>
                          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_search_concept_path(search_concept), :class => 'btn btn-mini' %>
                          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                      search_concept_path(search_concept),
                                      :method => :delete,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                      :class => 'btn btn-mini btn-danger' %>
                </div>
                <% unless search_concept.children.empty? %>
                  <ul id="sub-tree1"> 
                    <% search_concept.children.each do |sub_concept| %>
                      <li> <%= link_to sub_concept.name, search_concept_path(sub_concept) %> 
                            <div class="concept_action-buttons">
                              <%= link_to t('.Create Child'), new_search_concept_path(:parent_id => search_concept.id), :class => 'btn btn-mini btn-info'   %>
                                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                                  edit_search_concept_path(search_concept), :class => 'btn btn-mini' %>
                                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                                  search_concept_path(search_concept),
                                                  :method => :delete,
                                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                                  :class => 'btn btn-mini btn-danger' %>
                            </div>
                           <% unless sub_concept.children.empty? %>
                           <ul id="sub-tree2"> 
                            <% sub_concept.children.each do |sub_conceptb| %>
                            <li> <%= link_to sub_conceptb.name, search_concept_path(sub_conceptb) %> 
                            <div class="concept_action-buttons">
                              <%= link_to t('.Create Child'), new_search_concept_path(:parent_id => sub_conceptb.id), :class => 'btn btn-mini btn-info'   %>
                                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                                  edit_search_concept_path(sub_conceptb), :class => 'btn btn-mini' %>
                                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                                  search_concept_path(sub_conceptb),
                                                  :method => :delete,
                                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                                  :class => 'btn btn-mini btn-danger' %>
                            </div>
                            <% end %>
                            <% end %>

                           </ul> 
                      </li>
                  <% end %>
                  </ul>
                  <% end %>
               </li>
            <% end %>
          </ul>
</div> <!-- EO span12 -->

  