<div class="row">
    <div class="span3">
        <h3>Searches</h3>
        <ul class="nav nav-list">
            <li class="nav-header">Current Searches</li>
            <% @all_searches.each do |single_search| %>
                <% if @search.id == single_search.id %>
                    <li><%= link_to single_search.search_name, yt_search_results_path(:search_id => @search.id), :class =>"active" %>
                        <span class="badge badge-info"><%= single_search.notification_count %></span>
                        <% single_search.update_attributes(:notification_count => 0)%>
                    </li>
                <% else %>
                     <li><%= link_to single_search.search_name, yt_search_results_path(:search_id => single_search.id) %></li>
                     <span class="badge badge-info"><%= single_search.notification_count %></span>
                     <% single_search.update_attributes(:notification_count => 0)%>
                <% end %>
            <% end %>
             <li class="divider"></li>
             <li class="nav-header">Archived Searches</li>
        </ul>
    </div><!-- EO span3 -->
    <div class="span12">
        <h1><%= @search.search_name %></h1>
        <h5>Created:<%= @search.created_at %></h5>
         <div class="span9">
            <div id="filter-button">
                <div class="btn-group">
                    <button class="btn">Fliter By</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- dropdown menu links -->
                        <li> <button class="btn btn-mini">Ranking</button></li>
                        <li>Uploader</li>
                        <li>Published</li>
                        <li>Location</li>
                    </ul>
                </div><!-- EO btn-group -->
            </div><!-- EO filter-button -->
        </div>

        
       
            <ul class="thumbnails">
                <% @yt_search_results.each do |yt_search_result| %>
                <li class="span3" id="video_thumb_box">
                    <a href="#" class="thumbnail">
                    <%= image_tag("#{yt_search_result.thumbnails}", :height => '240', :width => '320') %>
                    </a>
                    <h6><%= yt_search_result.title %></h6>
                    <h6>Published on <%= yt_search_result.published %> by <%=link_to "#{yt_search_result.author_name}", yt_search_result.author_url %> </h6>
                    Filed in<%= yt_search_result.category %>
                    <h6>Duration: <%= yt_search_result.duration %></h6>
                    <h6>Viewcount: <%= yt_search_result.viewcount %></h6>
                    <h6>Location: <%= yt_search_result.geo %></h6>
                    <%= link_to "View", yt_search_result_path(yt_search_result.id), :class => 'btn btn-mini'%>
                </li>
                <% end %>
            </ul>
        

            
    </div><!-- EO span9 -->
</div> <!-- EO row -->
