<div class="row">
    <div class="span3">
        <h3>Searches</h3>
        <ul class="nav nav-list">
            <li class="nav-header">Your Active Searches</li>
            <%if @search_status == "Search is Inactive"%>
              <li>No Active Searches</li>
            <% end %>
            <% @active_searches.each do |active_search|%>
              <% if @current_search == active_search.id%>
                <li class="active"><%= link_to active_search.search_name, yt_search_results_path(:search_id => active_search.id)%></li>
              <% else %>    
                <li ><%= link_to active_search.search_name, yt_search_results_path(:search_id => active_search.id)%></li>
              <% end %>
            <% end %>
           

            <li class="nav-header">Active Newsroom Searches</li>
            <li><a href="#">Test One</a></li>
            <li><a href="#">Test Two</a></li>
            <li class="nav-header">Recent Searches</li>
            <li><a href="#">Old one</a></li>
            <li><a href="#">Old two</a><%= @sort_by %></li>

        </ul>
    </div><!-- EO span3 -->
    <div class="span12">
        <h1><%= @search.search_name %></h1>
        <h5>Created by Owen Connor on <%= @search.created_at.strftime("%d %b %H:%M") %></h5>
        <span><%= @search_status %></span>
        <div class="span11">
          <% if @search.active_search == true%>
            <%= link_to "Stop Search", stop_search_results_path(:id => @search.id), :class => "btn btn-small btn-warning"%>
          <% else %>
            <%= link_to "Start Search", start_search_results_path(:id => @search.id), :class => "btn btn-small btn-success"%>
          <% end %>
          <div id="filter-button">
            <div class="btn-group">
              <button class="btn">Sort By</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li><i class="icon-user"></i><%= link_to "Uploader", yt_search_results_path(:search_id => @search.id, :sort_by => "uploader") %></li>
                <li><i class="icon-calendar"></i><%= link_to "Published", yt_search_results_path(:search_id => @search.id, :sort_by => "published") %></li>
                <li><i class="icon-globe"></i><%= link_to "Geolocation", yt_search_results_path(:search_id => @search.id, :sort_by => "geo") %></li>
                <li><i class="icon-bar-chart"></i><%= link_to "Ranking", yt_search_results_path(:search_id => @search.id, :sort_by => "ranking") %></li>
              </ul>
            </div>
          </div><!-- EO filter-button -->
        </div>
        <section id="content">
            <div id="container" class="transitions-enabled infinite-scroll clearfix">
                <% @yt_search_results.each do |yt_search_result| %>
                    <div class="box col1 masonry-brick">
                        <div class="top-meta">
                          <span class="listtype">
                              <i class="icon-user"></i>
                                <%=link_to "#{yt_search_result.author_name}", yt_search_result.author_url %>
                            </span>
                        </div>
                        <div class="video-title">
                          <%= yt_search_result.title %>
                        </div>
                        <%= link_to image_tag(yt_search_result.thumbnails, :border => 0),:anchor => "#modal-#{yt_search_result.video_id}", :role => "button", :class =>"btn btn-small btn-primary"%>
                        <h6>Video Details</h6>
                        <div class="video-details">
                          <div class="video-meta">
                            <ul class="video-icons">
                              <li>
                                <a href="#" rel="tooltip" title="Published Date">
                                <i class="icon-calendar"></i>
                                <%=yt_search_result.published%>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Video Duration">
                                <i class="icon-time"></i>
                                <%=yt_search_result.duration%> seconds</a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Youtube Uploader">

                                <i class="icon-user"></i><%= link_to yt_search_result.author_name,yt_search_result.author_url  %></a>
                              </li>
                            </ul>
                          </div> <!-- EO video-meta -->
                          <div class="video-meta">
                            <ul class="video-icons">
                              <li>
                                <a href="#" rel="tooltip" title="Youtube Category">
                                <i class="icon-tag"></i>
                                <%= yt_search_result.category%></a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Viewcount Number">
                                <i class="icon-eye-open"></i><%= yt_search_result.viewcount%></a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Geolocation">
                                <% if yt_search_result.geo == "No Geolocation" %>
                                  <i class="icon-globe"></i><%= yt_search_result.geo %></a>
                                <% else %>
                                  <i class="icon-globe"></i> <%= link_to "View on Map", "http://maps.google.com/maps?&z=14&q=#{yt_search_result.geo.sub(" ","%2C")}"  %>
                                <% end %>
                              </li>
                            </ul>
                          </div> <!-- EO video-meta -->
                        </div> <!-- EO video-details -->
                        <h6>View On Youtube</h6>
                        <%= link_to yt_search_result.player_url, yt_search_result.player_url, :class => "top-meta"  %>
                        <h6>Video Desciption</h6>
                        <p>
                          <%= truncate(yt_search_result.description, :length => 500) %>
                          <% link_to "View more" %><i class="icon-arrow-down"></i>
                        </p><!-- EO video_description -->
                        <!-- Button to trigger modal -->
                        <div class="modal-display-button">
                        <a href=<%= "#modal-#{yt_search_result.video_id}"%> role="button" class="btn btn-small btn-primary" data-toggle="modal"><i class="icon-play-circle"></i>View Video</a>
                      </div><!-- modal-display-button -->
                      

                         
                        <!-- Modal -->
                        <div id=<%= "modal-#{yt_search_result.video_id}"%> class="modal hide  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <div class="video-title" class="modal-title">
                              <%= yt_search_result.title %>
                            </div>
                          </div>
                          <div class="modal-body">
                            <div class="modal-video">
                            <%= yt_search_result.embed_url.html_safe %>
                          </div><!-- EO modal-video -->
                          <h6>Video Details</h6>
                            <div class="video-details">
                          <div class="video-meta">
                            <ul class="video-icons">
                              <li>
                                <a href="#" rel="tooltip" title="Published Date">
                                  <i class="icon-calendar"></i>
                                  <%=yt_search_result.published%>
                                </li>
                              <li>
                                <a href="#" rel="tooltip" title="Video Duration">
                                  <i class="icon-time"></i>
                                  <%=yt_search_result.duration%> seconds</a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Youtube Uploader">
                                  <i class="icon-user"></i><%= yt_search_result.author_name %></a>
                              </li>
                            </ul>
                          </div> <!-- EO video-meta -->
                          <div class="video-meta">
                            <ul class="video-icons">
                              <li>
                                <a href="#" rel="tooltip" title="Youtube Category">
                                  <i class="icon-tag"></i>
                                  <%= yt_search_result.category%></a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Viewcount Number">
                                  <i class="icon-eye-open"></i><%= yt_search_result.viewcount%></a>
                              </li>
                              <li>
                                <a href="#" rel="tooltip" title="Geolocation">
                                  <i class="icon-globe"></i><%= yt_search_result.geo%></a>
                              </li>
                            </ul>
                          </div> <!-- EO video-meta -->
                        </div> <!-- EO video-details -->
                        <h6>Video Description</h6>
                            <p> 
                            <%= truncate(yt_search_result.description, :length => 500) %>
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                          </div>
                        </div> 
                    </div> <!-- EO box col1 masonry-brick -->
                <% end %>
            </div><!-- EO container -->
            <%= will_paginate @yt_search_results %>
        </div> <!-- EO content -->    
    </div><!-- EO span9 -->
</div> <!-- EO row -->
<script>
$(function(){
    
    var $container = $('#container');
    
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.box',
        columnWidth: 5
      });
    });
    
    $container.infinitescroll({
      navSelector  : '.pagination',    // selector for the paged navigation 
      nextSelector : '.pagination a.next_page',  // selector for the NEXT link (to page 2)
      itemSelector : '.box',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/6RMhx.gif'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true ); 
        });
      }
    );
    
  });
</script>
