<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @yt_search_result.id %>
</p>

<p>
  <b>Published:</b>
  <%= @yt_search_result.published %>
</p>

<p>
  <b>Updated:</b>
  <%= @yt_search_result.updated %>
</p>

<p>
  <b>Title:</b>
  <%= @yt_search_result.title %>
</p>

<p>
  <b>Description:</b>
  <%= @yt_search_result.description %>
</p>

<p>
  <b>Thumbnails:</b>
  <%= @yt_search_result.thumbnails %>
</p>

<p>
  <b>Search:</b>
  <%= @yt_search_result.search_id %>
</p>

<p>
  <b>Embed url:</b>
  <%= @yt_search_result.embed_url %>
</p>

<p>
  <b>Author name:</b>
  <%= @yt_search_result.author_name %>
</p>

<p>
  <b>Author url:</b>
  <%= @yt_search_result.author_url %>
</p>

<p>
  <b>Category:</b>
  <%= @yt_search_result.category %>
</p>

<p>
  <b>Keywords:</b>
  <%= @yt_search_result.keywords %>
</p>

<p>
  <b>Player url:</b>
  <%= @yt_search_result.player_url %>
</p>

<p>
  <b>Duration:</b>
  <%= @yt_search_result.duration %>
</p>

<p>
  <b>Viewcount:</b>
  <%= @yt_search_result.viewcount %>
</p>

<p>
  <b>Geo:</b>
  <%= @yt_search_result.geo %>
</p>


<%= link_to 'Edit', edit_yt_search_result_path(@yt_search_result) %> |
<%= link_to 'Back', yt_search_results_path %>
