<div class="page-header">
	<h1>Create Search</h1>
</div><!-- EO page-header -->
<div class="row">
			<div class="span6">
			<h4>Event Types</h4>
			<div class="tabs-container">
				<div class="tabbable">
	  				<ul class="nav nav-tabs">
	    				<li class="<%= 'active' if params[:pane] == 'pane1'|| !params[:pane] %>"><a href="#" data-toggle="tab">Event List</a></li>
					    <li class="<%= 'active' if params[:pane] == 'pane2' %>"><a href="#" data-toggle="tab">Context Data</a></li>
					    <li class="<%= 'active' if params[:pane] == 'pane3' %>"><a href="#" data-toggle="tab">Review Search</a></li>
					</ul>
	  				<div class="tab-content">
	    				<div id="pane1" class="<%= if (params[:pane] == 'pane1' || !params[:pane])then 'tab-pane active'  else 'tab-pane' end%>">
	      					<h4>Step 1 - Select an Event Type</h4>
	      					<h6> Browse the event tree to make a selection</h6>
	      					<div class="ancestor_path">
	      						<% if @ancestors != nil %>
		      						<% @ancestors.each do |ancestor|%>
		      						<strong><%= ancestor.name %></strong> >>
		      						<% end %>
	      						<% end %>
	      					</div>
	      					<div class="event-list">
		      					<ul>
			      					<% @search_concept_items.each do |concept| %>
				      					<% if concept.is_childless? == false %>
				      						
				      						<%= link_to new_search_path(:get_children_of => concept.id) do %>
								      			<li>
								      				<span class="concept-name">
								      					<%= concept.name%>
								      				</span>
								      				<span class="select-option">
								      				Sub Categories<i class="icon-search"></i>
								      				</span><!-- EO select-option -->
								      			</li>
								      		<% end %>
								      		<% next %>
				      					<% else %>
				      						<%= link_to new_search_path(:search_concept_id => concept.id, :pane => "pane2") do %>
							      				<li>
							      					<span class="concept-name">
							      						<%= concept.name%>
							      					</span>
							      					<span class="select-option">
							      						Select<i class="icon-chevron-right"></i>
							      					</span><!-- EO select-option -->
							      				</li>
					      					<% end %>
						      			<% end %>
			      					<% end %>
		      					</ul>
		      					</div> <!-- EO event-list -->
	    				</div><!-- EO pane1 -->
	    				
					    	<div id="pane2" class="<%= if params[:pane] == 'pane2' then 'tab-pane active'  else 'tab-pane' end%>">
					    	<h4>Step 2 - Enter Search Context</h4>
					    	<%= render :partial => 'form' %>
					    </div>
					    <div id="pane3" class="<%= if params[:pane] == 'pane3' then 'tab-pane active'  else 'tab-pane' end%>">
					     	<h4>Step 3 - Review Search</h4>
					     	    <ul class="thumbnails">
									<li class="span5">
								    	<div class="thumbnail">
									    	<img src="http://maps.google.com/maps/api/staticmap?size=320x260&maptype=roadmap&sensor=false&zoom=14&markers=color:pink|label:Search-Geo|<%= @search.latitude %>, <%= @search.longitude %>"></img>
									    	<h6>Search Details</h6>
							                    <div class="search-details">
							                    	<% if params[:pane] == 'pane3' %>
								                      <span class="label">Created by <%= current_user.email %> <%= @search.created_at.strftime("%d %b %H:%M")%>  </span>
								                      <% if @search.active_search == true%>
								                        <span class="label">Status: Active</span>
								                      <% else %>
								                      <span class="label">Status: Inactive</span>
								                      <% end %>
								                      <span class="label">Location: <%= @search.location%></span>
								                      <% if @search.latitude == nil %>
								                        <span class="label">Geolocation: None Available</span>
								                        <% else %>
								                      <span class="label">Geolocation: <%= @search.latitude.to_s + "," + @search.longitude.to_s %></span>
								                      <% end %>
								                      <span class="label">Second Language: <%= @search.second_language %></span>
								                      <span class="label">Terms: <%= @search.context_terms%></span>
								                    <% end %>
								                    </div><!-- EO search-details -->
									    	<div class="action-buttons">
									    		<% if @search.id != nil %>
							                    <%= link_to "Edit Search", edit_search_path(@search.id), :class => "btn btn-small btn-primary"%>
							                    <% end %>  
							                    <%= link_to "Start Search", youtube_search_path(:search_id => @search.id), :class => "btn btn-small btn-success"%>
							                </div><!-- EO action-buttons --> 
								    	</div>
									</li>
								</ul>
					     	<p></p>
					    </div>
					  </div><!-- /.tab-content -->
					</div><!-- /.tabbable -->
				<div> <!-- EO tab-container -->
		</div>
		
</div>

