<!DOCTYPE html>
<html>
<head>
  <title>YtSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="#">YouTube Search</a>
	        <div class="nav-collapse">
	          <ul class="nav">
	          	<li><%= link_to "My Profile" %></li>
	            <li><%= link_to "Search Concepts", search_concepts_path %></li>
	            <li><%= link_to "Searches", searches_path %></li>
	          </ul>
	        </div>
	        

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>


	      </div>
	    </div>
	  </div>
	</div class="container">
		<div class="row">
			<div class="span3"></div> <!-- EO span3 -->
			<div class="span6">
				<% flash.each do |name, msg|%>
	      			<div id="main-header-alert" class="alert alert-<%= name == :notice ? "success" : "error" %>">
	      				<a class="close" data-dismiss="alert">x</a>
	      				<%= msg %>	
	      			</div><!-- EO Alert -->
	    		<% end %>
	    	</div> <!-- EO span3 -->
		</div><!-- EO row -->
	<%= yield %>
	</div> <!-- EO container -->
</body>
</html>
